<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title></title>
		<!--    <script src="http://112.124.96.85/openFeign/static/layui/layui.js"></script>-->
		<script src="https://www.layuicdn.com/layui/layui.js"></script>
		<script src="http://112.124.96.85/openFeign/static/js/jquery.js"></script>
		<link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
		<!--    <link rel="stylesheet" href="http://112.124.96.85/openFeign/static/layui/css/layui.css">-->
		<link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">

		<!--    <script src="http://112.124.96.85/openFeign/static/js/jquery.js"></script>-->
		<script>
		
				function change(title){
					// 这里要传参数title
					// alert(title)
					
					let url= title+".html"
					$('iframe').attr('src',url)
				}
			
		</script>
	</head>
	<body class="layui-layout-body">
	<div class="layui-layout layui-layout-admin">
	  <div class="layui-header">
	    <div class="layui-logo">layui 后台布局</div>
	    <!-- 头部区域（可配合layui已有的水平导航） -->
	    <ul class="layui-nav layui-layout-left">
	      <li class="layui-nav-item"><a href="">控制台</a></li>
	      <li class="layui-nav-item"><a href="">商品管理</a></li>
	      <li class="layui-nav-item"><a href="">用户</a></li>
	      <li class="layui-nav-item">
	        <a href="javascript:;">其它系统</a>
	        <dl class="layui-nav-child">
	          <dd><a href="">邮件管理</a></dd>
	          <dd><a href="">消息管理</a></dd>
	          <dd><a href="">授权管理</a></dd>
	        </dl>
	      </li>
	    </ul>
		  <ul class="layui-nav layui-layout-right">

			  <li class="layui-nav-item">
				  <a href="#" th:href="@{/loginOut}">注销</a>
			  </li>
		  </ul>
	  </div>
	  
	   <div class="layui-side layui-bg-black">
	      <div class="layui-side-scroll">
	        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
	        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
	          <li class="layui-nav-item layui-nav-itemed">
	            <a class="" href="javascript:;">学生管理</a>
	            <dl class="layui-nav-child">
	              <dd> <a href="javascript:;" onclick="change('user')">学生信息</a></dd>
					<dd><a href="javascript:;" onclick="change('sclass')">班级信息</a></dd>
					<dd><a href="javascript:;" onclick="change('course')">课程信息</a></dd>
					<dd><a href="javascript:;" onclick="change('chooseCourse')">学生选课信息</a></dd>

				</dl>
	          </li>
	          <li class="layui-nav-item">
	            <a href="javascript:;">数据分析</a>
	            <dl class="layui-nav-child">
	              <dd><a href="javascript:;" >柱状图</a></dd>
	                <dd><a href="javascript:;" >饼状图</a></dd>
	            </dl>
	          </li>
	        
	        </ul>
	      </div>
	    </div>
	  
	  <div class="layui-body">
	    <!-- 内容主体区域 -->
	    <div style="padding: 15px;">
			<iframe src="user.html" frameborder="0" id="demoAdmin" style="width: 100%; height: 600px;"></iframe>
	    </div>
	  </div>
	  
	  <div class="layui-footer">
	    <!-- 底部固定区域 -->
	    © layui.com - 底部固定区域
	  </div>
	</div>
	<script>
	//JavaScript代码区域
	layui.use('element', function(){
	  var element = layui.element;
	  
	});
	</script>

	</body>
</html>
