<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>设置我的资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--    <script src="http://112.124.96.85/openFeign/static/layui/layui.js"></script>-->
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <script src="http://112.124.96.85/openFeign/static/js/jquery.js"></script>
    <!--    <link rel="stylesheet" href="http://112.124.96.85/openFeign/static/layui/css/layui.css">-->
    <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css">
    <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
    <!--    <script src="http://112.124.96.85/openFeign/static/js/jquery.js"></script>-->
</head>
<body>
<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">id</label>
        <div class="layui-input-inline">
            <!--/*@thymesVar id="username" type="templates"*/-->
            <!--/*@thymesVar id="username" type="templates"*/-->
            <!--/*@thymesVar id="user" type="templates"*/-->
            <!--/*@thymesVar id="username" type="templates"*/-->
            <input type="text" name="id" hidden readonly th:placeholder="${user.id}" th:value="${user.id}" autocomplete="off" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <!--/*@thymesVar id="username" type="templates"*/-->
            <!--/*@thymesVar id="username" type="templates"*/-->
            <!--/*@thymesVar id="user" type="templates"*/-->
            <!--/*@thymesVar id="username" type="templates"*/-->
            <input type="text" name="username" th:placeholder="${user.username}"  lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <!--/*@thymesVar id="password" type="templates"*/-->
            <input type="password" name="password" th:placeholder="${user.password}" lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            var username = data.field.username
            var password = data.field.password
            var id = data.field.id
            console.log(data.field)
            let href = '/admin/modifyUser?username='+username+'&password='+password+'&id='+id;
            downloadFileByForm(href)
            layer.msg("成功");
            return false;
        });
    });

    function downloadFileByForm(href) {
        var a = document.createElement('a');
        a.setAttribute('href', href);
        document.body.appendChild(a);
        a.click();
    }
</script>
</body>